
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
}

.about-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007BFF;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.department-container {
    margin-top: 20px;
}

.department-heading {
    font-size: 20px;
    color: #333;
}

.department-description {
    margin-top: 10px;
}

/* Additional Styling */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}