{% extends 'homePage.html'%}


{% block body %}
<header>
    <h1>Nimlang Ltd - Our Services</h1>
</header>

<div class="service-container-on-page">
    <!-- Medical Consultations and Other Medical Services -->
    <div class="service">
        <h2>Medical Consultations and Other Medical Services</h2>
        <img class="img-on-service-page" src="../static/pics/premium_photo-1664302336737-37fce6daca3c.avif" alt="Medical Consultations">
        <p>
            At Nimlang Ltd, we provide comprehensive medical consultations and a wide range of other medical services. Our experienced healthcare professionals are dedicated to ensuring your well-being and addressing all your healthcare needs.
        </p>
    </div>

    <!-- Individual Health Community Based Assurance Program -->
    <div class="service">
        <h2>Individual Health Community Based Assurance Program</h2>
        <img class="img-on-service-page" src="../static/pics/photo-1538805060514-97d9cc17730c.avif" alt="Individual Health Community Program">
        <p>
            Our individual health community program offers personalized healthcare solutions. We focus on preventive care, health education, and timely medical interventions to support your individual health needs.
        </p>
    </div>

    <!-- Family Health Community Based Assurance Program -->
    <!-- Add similar structure for other services -->

</div>
{% endblock %}